@if (isLoading) {
  <app-cart-loader></app-cart-loader>
} @else {
  <div
    class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 xl:grid-cols-5 gap-6"
  >
    @for(category of categories; track $index) {
    <div
      class="w-full bg-white border border-gray-200 rounded-2xl overflow-hidden shadow-sm hover:shadow-md transition-all duration-500 ease-out cursor-pointer group active:scale-95 opacity-0 translate-y-6 animate-fade-in-up"
    >
      <div class="relative w-full h-40 overflow-hidden">
        <img
          class="w-full h-full object-cover object-center transform group-hover:scale-105 transition-transform duration-700 ease-out"
          [src]="category.image"
          [alt]="category.slug"
        />
        <div
          class="absolute inset-0 bg-black/10 opacity-0 group-hover:opacity-100 transition-opacity duration-500 ease-out"
        ></div>
      </div>
      <div class="p-4 text-center">
        <h2
          class="text-base sm:text-lg font-medium tracking-wide text-gray-700 group-hover:text-main capitalize truncate transition-colors duration-500 ease-out antialiased"
          [title]="category.name"
        >
          {{ category.name }}
        </h2>
      </div>
    </div>
    }
  </div>
}
